$primary-color: #eee;

body {
  margin: 0;
  background-color: $primary-color;
  height: 100vh;
  width: 100vw;
}

#toolbar {
  height: 5vh;
  width: 100vw;
  margin: 1em;
}

#content {
  outline: none;
  margin: 1em;
  height: 95vh;
  width: 100vw;
}